* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#box {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 500px;
  height: 500px;
  background-color: grey;
}

#box1 {
  width: 100px;
  height: 100px;
  background-color: blue;
}
#box2 {
  width: 100px;
  height: 110px;
  background-color: green;
}
#box3 {
  width: 130px;
  height: 110px;
  background-color: red;
}
